/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
/* normalize css */
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
/* google fonts (inter) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --bg-blue: #0d42ff;
    --bg-blue-bold: #001f8d;
    --bg-blue-dark:#0e1d34;
    --container-size: 1320px;
}

.container{
    max-width: var(--container-size);
    padding: 0 12px;
}

input{
    outline: none;
    border: none;
}

img{
    width: 100%;
    display: block;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.button{
    padding: 8px 20px ;
    color: white ;
    border-radius: 4px;
}

.button-blue{
    padding: 8px 20px !important;
    color: white !important;
    border-radius: 4px;
    background-color: var(--bg-blue);
}

.button-blue:hover{
    transition: 0.4s;
    background-color: #0536e7a8;
}


.dropdown-area{
    max-height: 500px;
}

.dropdown-area li a:hover{
    color: var(--bg-blue);
    transition: 0.4s;
}

.dropdown-show{
    transition: 0.4s;
    opacity: 1;
    max-height: 400px;
}

.dropdown-hide{
    transition: 0.4s;
    opacity: 0;
    max-height: 0px !important;
    overflow-y: hidden;
}

[data-animate-scroll]{
    opacity: 0;
    transition: 0.6s ease-out;
}

[data-animate-scroll="bottom"]{
    transform: translateY(80px);
}

[data-animate-scroll].animate-scroll{
    opacity: 1;
    transform: translate(0, 0);
}
