@media (max-width:1320px){
    .container{
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

@media (max-width:1200px){

    .home .home-cover{
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}

@media (max-width:990px){

    .home .home-cover{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .home-cover .content{
        width: 90% !important;
        margin-top: 30px;
    }

    .block-services .service{
       margin-bottom: 18px;
    }

    .home .services .services-card{
        grid-template-columns: 1fr 1fr !important;
    }


    .container-header{
        overflow-x: hidden;
    }

    .container-header nav{
        position: absolute;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: var(--bg-blue-dark);
        padding: 30px 50px;
        bottom: 0;
        right: -999px;
    }

    .container-header nav .nav-links{
        flex-direction: column;
        align-items: flex-start;        
    }

    .container-header nav .nav-links li{
        margin-top:30px;
        margin-left: 0;

    }

    .container-header nav .nav-links li a{
        display: block;
        padding: 10px;
        font-size: 1.1em;
    }

    .container-header nav .nav-links .get-quote{
        margin-left: 0;
    }


    .ul-services li{
        margin: 5px 0 !important;
    }
    .ul-services a{
        padding: 9px !important;
        margin: 0;
    }

    #header-button{
        display: block !important;
    }

}

@media (max-width:770px){

    .home .services .services-card{
        grid-template-columns: 1fr  !important;
    }

    .home .services .services-card .card{
        max-width: calc(100% - 50px);
        margin: 0 auto;
    }

    .home .call-action{
        padding: 80px 15px !important;
    }

}

@media (max-width:580px){

    .home .services .services-card .card{
        width: 100%;
    }

    .container{
       padding: 15px 15px !important;
    }

    .home .services .services-card{
        gap: 10px !important;
    }

    .home .home-cover{
        font-size: 8px;
        padding-top: 100px !important;
    }

    .home-cover .form-location{
        font-size: 14px;
    }

    .home-cover .numbers{
        font-size: 12px;
    }

    .home-cover .content .description{
        font-size: 15px;
    }

    .home-cover .numbers{
        margin-bottom: 30px;
    }

    .home-cover .number-item{
        margin-bottom: 15px;
    }
    .home-cover .numbers span{
        margin: 15px 0;
    }

    .home .services .services-card .card{
        max-width: 100%;
        margin: 0 auto;
    }

}

@media (max-width:350px){
    header nav{
        width: 100vw;
    }

}